{% extends 'baselogin.html' %}
{% block title %} Admin Login{% endblock title %}
{% block form %}

<section class="container1 forms">
    <div class="form login">
        <div class="form-content">
            <header>Admin Login</header>
            <form action="/admin" method="post" id="logFrm">
                {% include "message.html" %}
                <div class="field input-field">
                    <input type="text" placeholder="Enter UserName" class="input" name="username" required>
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Enter Password" class="password" name="password" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <!-- <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div> -->

                <div class="field button-field">
                    <button type="submit">Login</button>
                </div>
            </form>

        </div>
        <script src="static/assets/js/v-main.js"></script>

        {% endblock form %}