{% extends 'baselogin.html' %}
{% block title %} Admin Login{% endblock title %}

{% block navbar %}
<li><a class="nav-link scrollto active" href="/">HOME</a></li>
{% endblock navbar %}

{% block dropdown %}
<li class="dropdown"><a href="/login"><span>LOGIN</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
        <li><a href="/login">User Login</a></li>
        <li><a href="/hospitallogin">Hospital Login</a></li>
        <li><a href="/admin">Admin Login</a></li>
    </ul>
</li>
{% endblock dropdown %}

{% block form %}

<section class="container1 forms">
    <div class="form login">
        <div class="form-content">
            {% include "message.html" %}
            <header>Admin Login</header>
            <form action="/admin" method="post" id="logFrm">
                <div class="field input-field">
                    <input type="text" placeholder="Enter UserName" class="input" name="username" required>
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Enter Password" class="password" name="password" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="field button-field">
                    <button type="submit">Login</button>
                </div>
            </form>

        </div>
        <script src="static/assets/js/v-main.js"></script>

        {% endblock form %}