{% extends 'baselogin.html' %}
{% block title %} User Login{% endblock title %}
{% block form %}

<section class="container1 forms">
    <div class="form login">
        <div class="form-content">
            <header>Login</header>
            <form action="/login" method="post">
                <div class="field input-field">
                    <input type="text" placeholder="Enter SRF ID" class="input" name="srf" required>
                </div>

                <div class="field input-field">
                    <input type="date" placeholder="Enter DOB" class="password" name="dob" required>
                    <!-- <i class='bx bx-hide eye-icon'></i> -->
                </div>

                <!-- <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div> -->

                <div class="field button-field">
                    <button type="submit">Login</button>
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a href="/usersignup" class="link signup-link">Signup</a></span>
            </div>
        </div>
        <script src="static/assets/js/v-main.js"></script>

        {% endblock form %}